<script setup>
import { ref, onMounted, computed, watch } from 'vue';
import Swal from 'sweetalert2';

const todos = ref([]);
const name = ref('name');

const input_content = ref('');
const input_category = ref(null);

const todos_asc = computed(() =>
    todos.value.sort((a, b) => {
        return b.createdAt - a.createdAt;
    })
);

const addTodo = () => {
    if (input_content.value.trim() === '' || input_category.value === null) {
        let error_msg = '';
        error_msg +=
            input_content.value.trim() === ''
                ? '請輸入代辦事項'
                : '請選擇代辦事項種類';
        Swal.fire({
            title: '失敗',
            text: error_msg,
            icon: 'error',
            confirmButtonText: 'OK',
        });
        return;
    }
    todos.value.push({
        content: input_content.value,
        category: input_category.value,
        done: false,
        editable: false,
        createdAt: new Date().getTime(),
    });

    Swal.fire({
        title: '成功',
        text: '已加入代辦事項',
        icon: 'success',
        confirmButtonText: 'OK',
    });

    // 清空輸入
    input_content.value = '';
    input_category.value = null;
};

const removeTodo = todo => {
    todos.value = todos.value.filter(t => t !== todo);
    Swal.fire({
        title: '成功',
        text: '項目已刪除',
        icon: 'success',
        confirmButtonText: 'OK',
    });
};

watch(
    todos,
    newVal => {
        localStorage.setItem('todos', JSON.stringify(newVal));
    },
    { deep: true }
);

watch(name, newVal => {
    localStorage.setItem('name', newVal);
});

onMounted(() => {
    name.value = localStorage.getItem('name') || '';
    todos.value = JSON.parse(localStorage.getItem('todos')) || [];
});
</script>

<template>
    <main class="app">
        <section class="section greeting">
            <h2 class="greeting-title flex">
                你好阿，
                <input
                    class="input-text greeting-title ml-2 min-w-0 shrink grow basis-0"
                    type="text"
                    id="name"
                    placeholder="輸入你的名子"
                    v-model="name"
                />
            </h2>
        </section>

        <section class="section create-todo">
            <h3 class="h3">創建代辦事項</h3>

            <form id="new-todo-form" @submit.prevent="addTodo">
                <h4 class="h4">輸入你想要加入的項目</h4>
                <input
                    class="input-text mb-6 block w-full rounded-lg bg-white py-4 px-6 text-lg text-dark shadow-shadow"
                    type="text"
                    name="content"
                    id="content"
                    placeholder="e.g. make love"
                    v-model="input_content"
                />

                <h4 class="h4">選擇代辦事項種類</h4>
                <div class="options mb-6 grid grid-cols-2 gap-4">
                    <label class="option-label">
                        <input
                            class="peer hidden"
                            type="radio"
                            name="category"
                            id="category1"
                            value="business"
                            v-model="input_category"
                        />
                        <span
                            class="bubble bubble-after bubble-peer-after"
                        ></span>
                        <div class="option-label-div">工作</div>
                    </label>

                    <label class="option-label">
                        <input
                            class="peer hidden"
                            type="radio"
                            name="category"
                            id="category2"
                            value="personal"
                            v-model="input_category"
                        />
                        <span
                            class="bubble bubble-after bubble-peer-after border-personal shadow-personal-glow after:bg-personal after:shadow-personal-glow"
                        ></span>
                        <div class="option-label-div">私人</div>
                    </label>
                </div>

                <input
                    type="submit"
                    class="block w-full cursor-pointer rounded-lg bg-primary py-4 px-6 text-lg text-white shadow-personal-glow duration-200 ease-in-out hover:opacity-75"
                    value="加入代辦事項"
                />
            </form>
        </section>

        <section class="section todo-list">
            <h3 class="h3">代辦事項</h3>
            <div class="list" id="todo-list">
                <div
                    v-for="todo in todos_asc"
                    :key="todo.createdAt"
                    :class="`todo-item mb-4 flex items-center rounded-lg bg-white p-4 shadow-shadow ${
                        todo.done && 'done'
                    }`"
                >
                    <label class="mr-4 block cursor-pointer">
                        <input
                            class="hidden"
                            type="checkbox"
                            v-model="todo.done"
                        />
                        <span
                            :class="`bubble ${
                                todo.category == 'business'
                                    ? ''
                                    : 'border-personal shadow-personal-glow'
                            }`"
                        ></span>
                    </label>

                    <div class="todo-content shrink grow basis-0">
                        <input
                            type="text"
                            :class="`input-text text-lg text-dark ${
                                todo.done && 'text-gray line-through'
                            }`"
                            v-model="todo.content"
                        />
                    </div>

                    <div class="actions felx items-center">
                        <button
                            class="delete block cursor-pointer rounded bg-danger p-2 text-white duration-200 ease-in-out hover:opacity-75"
                            @click="removeTodo(todo)"
                        >
                            刪除
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>
