@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.section {
		@apply my-8 px-6
	}
	.h3 {
		@apply text-dark text-base font-normal mb-2
	}

	.h4 {
		@apply mb-2 text-xs font-bold text-gray
	}

	.bubble {
		@apply flex items-center justify-center w-[20px] h-[20px] rounded-[50%] border-2 border-solid border-business shadow-business-glow
	}

	.bubble-after {
		@apply after:content-[''] after:block after:opacity-0 after:w-0 after:h-0 after:bg-business after:shadow-business-glow after:rounded-[50%] after:ease-in-out after:duration-200
	}

	.bubble-peer-after {
		@apply peer-checked:after:w-[10px] peer-checked:after:h-[10px] peer-checked:after:opacity-100
	}

	.input-text {
		@apply appearance-none border-0 outline-0 bg-transparent
	}

	.greeting-title {
		@apply text-dark text-2xl font-bold
	}

	.option-label {
		@apply flex flex-col items-center  justify-center p-6 bg-white rounded-lg shadow-shadow cursor-pointer
	}

	.option-label-div {
		@apply text-dark text-lg mt-4
	}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

/* input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
} */
